<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\Stock-Exchange.API.dll" stdoutLogEnabled="true" stdoutLogFile=".\Logs\stdout" hostingModel="InProcess" startupTimeLimit="300" requestTimeout="00:05:00">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Test" />
				<environmentVariable name="DOTNET_ENVIRONMENT" value="Test" />
				<environmentVariable name="ConnectionStrings__StockExchangeConnectionString" value="Server=db69245.public.databaseasp.net; Database=db69245; User Id=db69245; Password=Mo@123456; Encrypt=True; TrustServerCertificate=True; MultipleActiveResultSets=True;" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>
